{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron">
        <h1 class="display-3">Hello, welcome on village green</h1>
        <p class="lead">Leader de la vente d'instrument de musique depuis 1820</p>
        <hr class="my-4">
        <p>Pour visité notre catalogue c'est </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/catalogue" role="button">par ici</a>
        </p>
    </div>
{% endblock %}